@import "./base.css";

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  color: black;

  &:visited {
      color: inherit;
    }
}

@media (hover: hover) {
  a{
    font-weight: 800;
  }
}